/* Reset CSS to browser defaults
in the following lines:
*/

header,
footer,
nav,
main,
article,
section,
figure,
figcaption,
h1,
h2,
h3,
ul,
li,
body,
div,
p,
img {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
}
body {
  max-width: fit-content;
}
a {
  color: #faebd7;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* part one style */

.main {
  background: url("images/2.png"), url("images/12.jpg");
  background-position: left, right;
  background-size: 80%, 40%;
  background-repeat: no-repeat;
  position: relative;
}

.main li {
  display: inline;
}
.main ul {
  display: flex;
  list-style: none;
}
.main li a {
  color: #faebd7;
  text-align: center;
  text-decoration: none;
  padding-top: 1em;
  margin-left: 2cm;
  padding: 5px 10px;
}
.main li a:hover {
  background-color: #800000;
  border-radius: 30px;
}
.main nav {
  float: left;
  margin-top: 0.5cm;
  padding-top: 1.5cm;
  padding-right: 1.5cm;
}
.main p {
  margin-top: 0.5cm;
  text-align: left;
  color: #faebd7;
  margin-bottom: 1.5cm;
  width: 425px;
  text-align: justify;
  padding-left: 1.5cm;
}
.main h1 {
  clear: both;
  color: #faebd7;
  font-size: 500%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding-top: 2cm;
  padding-left: 1.5cm;
}
.main img {
  float: left;
  height: 3cm;
  width: 5cm;
  padding-top: 1.5cm;
  padding-left: 1.5cm;
}
.main button {
  background-color: black;
  color: #faebd7;
  border: none;
  display: inline-block;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 2.5cm;
  margin-left: 1.5cm;
  border: none;
}
.main ul:nth-child(5) {
  float: right;
}
.main__icons {
  position: absolute;
  top: 2cm;
  right: 4cm;
  color: rgb(211, 59, 59);
}
div > a {
  color: #800000;
}
/* part two style */
.places h2 {
  font-size: 200%;
  font-weight: bold;
  margin-left: 1cm;
  padding-bottom: 6px;
  padding-top: 1.5cm;
  width: 60%;
  border-bottom: solid #800000;
  font-family: Arial, Helvetica, sans-serif;
}
.box {
  float: left;
  width: 33.33%;
  box-sizing: border-box;
  padding: 50px;
}

.places::after {
  content: "";
  clear: both;
  display: table;
}
.places figcaption {
  padding: 4px;
  font-weight: bold;
}
.places figure {
  text-align: center;
  padding: 4px;
}
.places figure > img {
  width: 2cm;
  height: 2cm;
}
.places {
  background-color: rgb(212, 211, 211);
  height: auto;
  width: 100%;
}
/* part three style */
.GetOut {
  background-color: black;
  max-width: 100%;
  height: auto;
  width: auto;
}
.GetOut > img {
  width: 7cm;
  float: left;
  max-width: 100%;
  height: auto;
  margin-right: 6cm;
}
.GetOut > p {
  color: #faebd7;
  width: 1000px;
  margin-left: 1cm;
  margin-bottom: 1cm;
}
.GetOut > h1 {
  color: #faebd7;
  font-size: 500%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding-top: 1cm;
}
.GetOut > button {
  background-color: crimson;
  color: black;
  border: 0;
  display: inline-block;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 2.5cm;
  font-weight: bold;
}

.GetOut h1:nth-child(2) {
  padding-bottom: 0;
  margin-bottom: 0px;
}
.GetOut h1:nth-child(3) {
  padding-top: 0;
  margin-top: 0;
}

/* part four style */

.aventure {
  background-color: black;
  background-image: url("images/7.png");
  background-repeat: no-repeat;
  background-position: center;
}
.aventure h1 {
  padding-top: 1.5cm;
  font-size: 900%;
  color: #faebd7;
  text-align: center;
}
.aventure p {
  color: #faebd7;
  text-align: left;
  padding-left: 7cm;
}
.aventure p:nth-child(3) {
  color: #faebd7;
  padding-bottom: 3cm;
}
.aventure h1:hover {
  font-size: 700%;
  font-size-adjust: 20px;
  transition: 0.2s all;
}
/* part five style */
.Women {
  background-color: black;
  background-repeat: no-repeat;
  background-image: url("images/7.png");
  display: flex;
}
.Women h1 {
  color: #faebd7;
  font-size: 100px;
  margin-bottom: 15px;
}
.Women span {
  font-size: 50px;
}
.Women p {
  color: #faebd7;
}
.Women img {
  float: left;
  max-width: 100%;
  margin-right: 0.5cm;
  height: 800px;
}
.Women__content {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/* part six style */
.discover {
  background-image: url("images/7.png");
  background-color: crimson;
  background-position: center;
}
.discover h1 {
  color: #faebd7;
  font-size: 90px;
  padding-left: 2cm;
  padding-top: 4cm;
}
.discover p {
  color: #faebd7;
  padding-left: 2cm;
  padding-bottom: 4cm;
}
.discover h1:hover {
  font-size: 100px;
  transition: 0.2s all;
}
/* part seven style */
.tours {
  background-image: url("images/11.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: gainsboro;
  background-size: center;
}
.tours h1 {
  color: black;
  font-size: 500%;
  padding-left: 2cm;
  padding-top: 1cm;
}
/* part eight style */
.Polar {
  background-color: black;
  background-repeat: no-repeat;
  background-image: url("images/9.png");
  background-position-x: right;
  background-size: contain;
}
.Polar h1 {
  color: #faebd7;
  font-size: 500%;
  padding-top: 2cm;
  padding-left: 2cm;
  padding-bottom: 1cm;
}
.Polar p {
  color: #faebd7;
  width: 670px;
  padding-left: 2cm;
}
.Polar > button {
  background-color: crimson;
  color: black;
  border: 0;
  display: inline-block;
  margin-bottom: 2.5cm;
  font-weight: bold;
  margin-left: 2cm;
  border-radius: 12px;
  padding: 10px 30px;
  margin-bottom: 2.5cm;
  font-weight: bold;
  margin-top: 1cm;
}
.Polar__icons {
  margin-left: 1cm;
  padding: 25px;
  color: #faebd7;
  display: flex;
}
.Polar__icons a {
  padding: 8px;
  color: #faebd7;
}

/* part nine style */
.GetOutNow {
  background-color: #dc143c;
  display: flex;
}

.GetOutNow__content > p {
  color: #faebd7;
  width: 600px;
  margin-bottom: 1cm;
}
.GetOutNow__content > h1 {
  color: #faebd7;
  font-size: 100px;
  text-align: left;
}
.GetOutNow__content > button {
  background-color: #000000;
  color: #faebd7;
  border: 0;
  display: inline-block;
  font-weight: bold;
  margin-left: 14cm;
  border-radius: 12px;
  padding: 10px 20px;
  margin-top: 1cm;
}
.GetOutNow img {
  float: left;
  max-width: 100%;
  margin-right: 0.5cm;
  height: 600px;
}
.GetOutNow__content {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.GetOutNow__icons {
  padding: 25px;
  color: #faebd7;
  display: flex;
}
.GetOutNow__icons a {
  padding: 8px;
  color: #faebd7;
}

/* part ten style */
.TitleHere {
  background-color: black;
  background-repeat: no-repeat;
  background-image: url("images/11.png");
  background-position: center;
  padding: 60px 50px;
  height: 600px;
  justify-content: center;
}
.TitleHere h1 {
  color: #faebd7;
  font-size: 70px;
  text-align: center;
}
.TitleHere p {
  color: #faebd7;
  padding: 25px;
  text-align: center;
}
.TitleHere button {
  background-color: #dc143c;
  color: #faebd7;
  font-weight: bold;
  padding: 15px 45px;
  display: flex;
  border: none;
}
.TitleHere form {
  margin-left: 300px;
  display: flex;
  padding: 40px;
}
input[type="email"] {
  display: flex;
  border: none;
  background: #f1f1f1;
  padding: 15px 120px;
}

/* Last part syle(footer) */
.About {
  background-color: crimson;
  background-repeat: no-repeat;
  height: 6cm;
}

.About__list {
  padding: 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
  float: right;
}
.About span {
  display: flex;
  padding-bottom: 15px;
  font-weight: bold;
}
.About__content {
  padding: 25px 35px;
}

@media screen and (max-width: 736px) {
  body {
    width: 1500px;
  }
  p {
    font-size: 100%;
  }
}
