/* Reset CSS to browser defaults
in the following lines:
*/
/* part one style */
/* part two style */
/* part three style */
/* part four style */
/* part five style */
/* part six style */
/* part seven style */
/* part eight style */
/* part nine style */
/* part ten style */
/* Last part syle(footer) */
header {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
}
footer {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
}
nav {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
}
main {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
}
article {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
}
section {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
}
figure {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
}
figcaption {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
}
h1 {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
}
h2 {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
}
h3 {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
}
ul {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
}
li {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
  max-width: fit-content;
}
div {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
  > a {
    color: #800000;
  }
}
p {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
}
img {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
}
a {
  color: #faebd7;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
.main {
  background: url("images/2.png"), url("images/12.jpg");
  background-position: left, right;
  background-size: 80%, 40%;
  background-repeat: no-repeat;
  position: relative;
  li {
    display: inline;
    a {
      color: #faebd7;
      text-align: center;
      text-decoration: none;
      padding-top: 1em;
      margin-left: 2cm;
      padding: 5px 10px;
      &:hover {
        background-color: #800000;
        border-radius: 30px;
      }
    }
  }
  ul {
    display: flex;
    list-style: none;
    &:nth-child(5) {
      float: right;
    }
  }
  nav {
    float: left;
    margin-top: 0.5cm;
    padding-top: 1.5cm;
    padding-right: 1.5cm;
  }
  p {
    margin-top: 0.5cm;
    text-align: left;
    color: #faebd7;
    margin-bottom: 1.5cm;
    width: 425px;
    text-align: justify;
    padding-left: 1.5cm;
  }
  h1 {
    clear: both;
    color: #faebd7;
    font-size: 500%;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    padding-top: 2cm;
    padding-left: 1.5cm;
  }
  img {
    float: left;
    height: 3cm;
    width: 5cm;
    padding-top: 1.5cm;
    padding-left: 1.5cm;
  }
  button {
    background-color: black;
    color: #faebd7;
    border: none;
    display: inline-block;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 2.5cm;
    margin-left: 1.5cm;
    border: none;
  }
}
.main__icons {
  position: absolute;
  top: 2cm;
  right: 4cm;
  color: rgb(211, 59, 59);
}
.places {
  h2 {
    font-size: 200%;
    font-weight: bold;
    margin-left: 1cm;
    padding-bottom: 6px;
    padding-top: 1.5cm;
    width: 60%;
    border-bottom: solid #800000;
    font-family: Arial, Helvetica, sans-serif;
  }
  &::after {
    content: "";
    clear: both;
    display: table;
  }
  figcaption {
    padding: 4px;
    font-weight: bold;
  }
  figure {
    text-align: center;
    padding: 4px;
    > img {
      width: 2cm;
      height: 2cm;
    }
  }
  background-color: rgb(212, 211, 211);
  height: auto;
  width: 100%;
}
.box {
  float: left;
  width: 33.33%;
  box-sizing: border-box;
  padding: 50px;
}
.GetOut {
  background-color: black;
  max-width: 100%;
  height: auto;
  width: auto;
  > img {
    width: 7cm;
    float: left;
    max-width: 100%;
    height: auto;
    margin-right: 6cm;
  }
  > p {
    color: #faebd7;
    width: 1000px;
    margin-left: 1cm;
    margin-bottom: 1cm;
  }
  > h1 {
    color: #faebd7;
    font-size: 500%;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    padding-top: 1cm;
  }
  > button {
    background-color: crimson;
    color: black;
    border: 0;
    display: inline-block;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 2.5cm;
    font-weight: bold;
  }
  h1 {
    &:nth-child(2) {
      padding-bottom: 0;
      margin-bottom: 0px;
    }
    &:nth-child(3) {
      padding-top: 0;
      margin-top: 0;
    }
  }
}
.aventure {
  background-color: black;
  background-image: url("images/7.png");
  background-repeat: no-repeat;
  background-position: center;
  h1 {
    padding-top: 1.5cm;
    font-size: 900%;
    color: #faebd7;
    text-align: center;
    &:hover {
      font-size: 700%;
      font-size-adjust: 20px;
      transition: 0.2s all;
    }
  }
  p {
    color: #faebd7;
    text-align: left;
    padding-left: 7cm;
    &:nth-child(3) {
      color: #faebd7;
      padding-bottom: 3cm;
    }
  }
}
.Women {
  background-color: black;
  background-repeat: no-repeat;
  background-image: url("images/7.png");
  display: flex;
  h1 {
    color: #faebd7;
    font-size: 100px;
    margin-bottom: 15px;
  }
  span {
    font-size: 50px;
  }
  p {
    color: #faebd7;
  }
  img {
    float: left;
    max-width: 100%;
    margin-right: 0.5cm;
    height: 800px;
  }
}
.Women__content {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.discover {
  background-image: url("images/7.png");
  background-color: crimson;
  background-position: center;
  h1 {
    color: #faebd7;
    font-size: 90px;
    padding-left: 2cm;
    padding-top: 4cm;
    &:hover {
      font-size: 100px;
      transition: 0.2s all;
    }
  }
  p {
    color: #faebd7;
    padding-left: 2cm;
    padding-bottom: 4cm;
  }
}
.tours {
  background-image: url("images/11.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: gainsboro;
  background-size: center;
  h1 {
    color: black;
    font-size: 500%;
    padding-left: 2cm;
    padding-top: 1cm;
  }
}
.Polar {
  background-color: black;
  background-repeat: no-repeat;
  background-image: url("images/9.png");
  background-position-x: right;
  background-size: contain;
  h1 {
    color: #faebd7;
    font-size: 500%;
    padding-top: 2cm;
    padding-left: 2cm;
    padding-bottom: 1cm;
  }
  p {
    color: #faebd7;
    width: 670px;
    padding-left: 2cm;
  }
  > button {
    background-color: crimson;
    color: black;
    border: 0;
    display: inline-block;
    margin-bottom: 2.5cm;
    font-weight: bold;
    margin-left: 2cm;
    border-radius: 12px;
    padding: 10px 30px;
    margin-bottom: 2.5cm;
    font-weight: bold;
    margin-top: 1cm;
  }
}
.Polar__icons {
  margin-left: 1cm;
  padding: 25px;
  color: #faebd7;
  display: flex;
  a {
    padding: 8px;
    color: #faebd7;
  }
}
.GetOutNow {
  background-color: #dc143c;
  display: flex;
  img {
    float: left;
    max-width: 100%;
    margin-right: 0.5cm;
    height: 600px;
  }
}
.GetOutNow__content {
  > p {
    color: #faebd7;
    width: 600px;
    margin-bottom: 1cm;
  }
  > h1 {
    color: #faebd7;
    font-size: 100px;
    text-align: left;
  }
  > button {
    background-color: #000000;
    color: #faebd7;
    border: 0;
    display: inline-block;
    font-weight: bold;
    margin-left: 14cm;
    border-radius: 12px;
    padding: 10px 20px;
    margin-top: 1cm;
  }
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.GetOutNow__icons {
  padding: 25px;
  color: #faebd7;
  display: flex;
  a {
    padding: 8px;
    color: #faebd7;
  }
}
.TitleHere {
  background-color: black;
  background-repeat: no-repeat;
  background-image: url("images/11.png");
  background-position: center;
  padding: 60px 50px;
  height: 600px;
  justify-content: center;
  h1 {
    color: #faebd7;
    font-size: 70px;
    text-align: center;
  }
  p {
    color: #faebd7;
    padding: 25px;
    text-align: center;
  }
  button {
    background-color: #dc143c;
    color: #faebd7;
    font-weight: bold;
    padding: 15px 45px;
    display: flex;
    border: none;
  }
  form {
    margin-left: 300px;
    display: flex;
    padding: 40px;
  }
}
input[type="email"] {
  display: flex;
  border: none;
  background: #f1f1f1;
  padding: 15px 120px;
}
.About {
  background-color: crimson;
  background-repeat: no-repeat;
  height: 6cm;
  span {
    display: flex;
    padding-bottom: 15px;
    font-weight: bold;
  }
}
.About__list {
  padding: 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
  float: right;
}
.About__content {
  padding: 25px 35px;
}
@media screen and (max-width: 736px) {
  body {
    width: 1500px;
  }
  p {
    font-size: 100%;
  }
}
